.form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="text"] {
    margin-bottom: 10px;
}

.add-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.add-btn:hover {
    background-color: #45a049;
}