.custom-navbar {
    background-color: #DAF7A6 !important; /* Use !important to override Bootstrap styles */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  